:root {
    --primary: #1992d4;
    --secondary: #F0B429;
    --grey: #e2e8f0;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

/* 
▄▀▀ █ █▀▄ ██▀ ██▄ ▄▀▄ █▀▄ 
▄█▀ █ █▄▀ █▄▄ █▄█ █▀█ █▀▄  */
.sidebar {
    background: var(--primary);
    color: rgb(239, 239, 239);
    min-width: 200px;
    display: grid;
    align-content: start;
    gap: 50px;
    padding: 25px;
}
.sidebar > .title {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.sidebar > .title > img {
    filter: invert(1);
    width: 3rem;
}
.sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.sidebar li img {
    filter: invert(1);
    width: 1.2rem;
    margin-right: 0.5rem;
}

.sidebar > ul {
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: bold;
}

/* 
█▄ ▄█ ▄▀▄ █ █▄ █ 
█ ▀ █ █▀█ █ █ ▀█  */
.main {
    display: grid;
    grid-template-rows: 11rem 1fr;
}
.main-body {
    background: var(--grey);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 50% 50%;
    padding: 25px;
    gap: 25px;
}
.main-body  .section-title {
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 15px;
}

/* 
█▄█ ██▀ ▄▀▄ █▀▄ ██▀ █▀▄ 
█ █ █▄▄ █▀█ █▄▀ █▄▄ █▀▄  */
.header {
    padding: 20px 40px;
    background: rgb(244, 244, 244);
    min-height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.header .icon {
    width: 1.5rem;
}
.upper-header {
    display: flex;
    align-items: center;
}
.upper-header > input {
    flex: 1;
    height: 30px;
}
.upper-header .right {
    align-items: center;
    display: flex;
    gap: 25px;
    font-weight: bold;
}
.upper-header input {
    border-radius: 50px;
    border: none;
    background-color: var(--grey);
    margin: 0 50px;
    padding: 20px;
}
.upper-header .profile-pic {
    width: 3.5rem;
}
.lower-header {
    color: rgb(38, 38, 38);
    display: flex;
    align-items: center;
    gap: 25px;
}
.lower-header > .user-name {
    flex: 1;
    display: grid;
    align-content: center;
    font-weight: bold;
}
.lower-header > .user-name > .upper {
    font-size: 0.9rem;
}
.lower-header > .user-name > .lower {
    font-size: 1.8rem;
}
.lower-header .profile-pic {
    width: 5.5rem;
}
.lower-header button {
    height: 3rem;
    border: none;
    border-radius: 50px;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
}

.announcements {
    display: grid;
    min-height: 0;
    min-width: 0;
    overflow: scroll;
}
.announcements .announcements-body {
}
.each-announcement {
}

.each-trending {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}
.each-trending > .user-pic {
    grid-row: 1 / -1;
}
.each-trending > .handle {
    grid-column: 2;
}
.each-trending > .user-name {
    grid-column: 2;
}

/* 
█▀▄ █▀▄ ▄▀▄   █ ██▀ ▄▀▀ ▀█▀ ▄▀▀ 
█▀  █▀▄ ▀▄▀ ▀▄█ █▄▄ ▀▄▄  █  ▄█▀  */
.projects {
    grid-row: 1 / 3;
}
.projects-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.projects .each-project{
    display: grid;
    gap: 25px;
    background-color: white;
    border-left: 10px solid var(--secondary);
    padding: 25px;
    border-radius: 10px;
}
.projects .each-project .title{
    font-size: 1.2rem;
}
.projects .each-project .text{
    font-size: 0.9rem;
    color: rgb(83, 83, 83)
}
.projects .each-project .buttons{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}
.projects .each-project .buttons img{
    width: 1.5rem;
}
